section.hero {
    height: 90vh;
    min-height: unset;
    max-width: unset;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    padding: 0 0;
    border-block-end: 3px solid var(--border-light);
    background-color: var(--background-elevated-tr);
    backdrop-filter: blur(3px);
}

.hero-headings {
    width: 100%;
    position: absolute;
    top: 4rem;
    z-index: 0;
}

.hero-text {
    font-size: var(--text-h3);
    color: var(--text-muted);
    font-family: inherit;
    text-align: center;
}

.secondary {
    text-align: center;
    color: var(--text-faint);
}

.cta {
  position: absolute;
  top: calc(100vh - 15rem);
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  gap: 1rem;
}

.cta button {
  color: var(--text-color);
  font-size: var(--text-base);
  font-family: inherit;
  margin-top: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid hsl(0 0 100% / 0.25);
  background: var(--button);
  backdrop-filter: blur(10px);
  transition: background-color var(--transition-normal); 
  cursor: pointer;
  z-index: 0;
}

.cta button:is(:hover, :focus) { 
    background: var(--main-color);
    box-shadow: 0 0 32px oklch(from var(--main-color) l c h / .5);
}

.arrow {
    position: absolute;
    bottom: 0;
    color: var(--text-muted);
    font-size: clamp(2.625rem, 0.9177rem + 8.5366vw, 4.375rem);
    cursor: pointer;
}
