main {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  /* padding: 0 2rem; */
}

/* main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse at center, #1a1a1a90 40%, #1a1a1a40 100%);
  background-blend-mode: overlay;
  z-index: -1;
} */

.parallax-layer {
  position: relative;
  padding: 2rem 0;
  z-index: 0;
  isolation: auto;
}

.parallax-layer > * {
  position: relative;
  z-index: 1;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  align-items: center;
  justify-content: center;
}

.cta {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  gap: 1rem;
}

.cta button {
  color: var(--text-color);
  font-size: var(--text-base);
  font-family: inherit;
  margin-top: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  border-radius: var(--radius-xl);
  corner-shape: squircle;
  text-transform: uppercase;
  border: 2px solid hsl(0 0 100% / 0.25);
  background: var(--button);
  transition: background-color 300ms; 
  cursor: pointer;
}

.cta button:is(:hover, :focus) { 
    background: var(--main-color);
    box-shadow: 0 0 32px oklch(from var(--main-color) l c h / .5);
}
