.content {
  position: relative;
}

main {
  position: relative;
  top: 0;
  flex: 1;
  padding-bottom: 5rem;
}

.parallax-layer {
  position: relative;
  padding: 2rem 0;
  z-index: 0;
  isolation: auto;
}

.parallax-layer > * {
  position: relative;
  z-index: 1;
}

section {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 950px) {
  section:not(.hero) {
    margin: 1rem 2rem 2rem;
  }
}
